# ####################### #
#  Security & Secrets     #
# ####################### #
# --- 가장 중요! ---
# 데이터베이스 비밀번호 등 민감한 정보가 담긴 .env 파일을 제외합니다.
.env


# ####################### #
#  Python Virtual Env     #
# ####################### #
# 가상환경 폴더를 제외합니다. (팀원마다 환경이 다를 수 있음)
venv/
.venv/
env/
ENV/


# ####################### #
#  Python Artifacts       #
# ####################### #
# 파이썬이 실행되면서 자동으로 생성하는 캐시 및 컴파일 파일을 제외합니다.
__pycache__/
*.pyc
*.pyo
*.pyd


# ####################### #
#  IDE / Editor Configs   #
# ####################### #
# 각자 사용하는 코드 편집기(IDE)의 설정 파일을 제외합니다.
# (PyCharm, IntelliJ)
.idea/
# (Visual Studio Code)
.vscode/


# ####################### #
#  Operating System Files #
# ####################### #
# macOS에서 자동으로 생성되는 시스템 파일을 제외합니다.
.DS_Store


# ####################### #
#  Log & Temp Files       #
# ####################### #
# 개발 중 생성될 수 있는 로그 파일이나 임시 파일을 제외합니다.
*.log
*.tmp
*.swp


# 이 `.gitignore` 파일을 프로젝트에 추가하시면, `git add .` 명령어를 사용해도 지정된 파일과 폴더들은 무시되므로 안심하고 코드를 GitHub에 올리실 수 있습니다.